.light{
  --shadow: 0px 1px 3px rgb(0, 0, 0, 0.1), 0px 6px 12px rgb(0, 0, 0, 0.08);
  --accent: #0078ff;
  --accent-dark: #0a60c2;
  --danger: #ff3121;
  --danger-dark: #df1a0c;
  --link: #0000EE;
  --visited: #551A8B;;
  --main: #ffffff;
  --main-dark: #ededed;
  --backdrop: #ffffff7a;
  --text: #000000;
  --text-light: #b0b0b0;
  --icon-filter: invert(0);
  --icon-filter-danger: brightness(0) saturate(100%) invert(29%) sepia(54%) saturate(5589%) hue-rotate(349deg) brightness(104%) contrast(100%);
  --icon-filter-yellow: invert(67%) sepia(57%) saturate(1674%) hue-rotate(359deg) brightness(104%) contrast(106%);
  --icon-filter-blue: invert(29%) sepia(59%) saturate(3092%) hue-rotate(203deg) brightness(104%) contrast(105%);
  --logo-filter: none;
}

.dark{
  --accent: #2d70bb;
  --accent-dark: #2c5687;
  --danger: #a72a21;
  --danger-dark: #742520;
  --link: #6767ff;
  --visited: #9d60d5;;
  --shadow: 0px 1px 3px rgb(0, 0, 0, 0.1), 0px 6px 12px rgb(0, 0, 0, .2);
  --main: #2e2e2e;
  --main-dark: #212121;
  --backdrop: #2e2e2e80;
  --text: #e3e3e3;
  --text-light: #787878;
  --icon-filter: invert(98%) sepia(0%) saturate(7487%) hue-rotate(214deg) brightness(122%) contrast(78%);;
  --icon-filter-danger: invert(20%) sepia(63%) saturate(2138%) hue-rotate(340deg) brightness(102%) contrast(99%);
  --icon-filter-blue: invert(30%) sepia(100%) saturate(490%) hue-rotate(173deg) brightness(107%) contrast(89%);
  --icon-filter-yellow: invert(67%) sepia(57%) saturate(1674%) hue-rotate(359deg) brightness(104%) contrast(106%) contrast(70%) saturate(80%);
  --logo-filter: contrast(70%) saturate(80%);
}

.editor{
  grid-area: edit;
  display: flex;
  flex-direction: column;
  background-color: var(--main);
  align-self: flex-start;
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
}

.logo{
  grid-area: logo;
  width: 100px;
  place-self: center;
  filter: var(--logo-filter)
}

.main-controls{
  grid-area: controls;
  z-index: 1;
  position: sticky;
  top: 10px;
  background-color: var(--main);
  border-radius: 10px;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.main-controls>button:nth-child(1){
  margin: 0 auto 0 0;
}

nav{
  overflow: hidden;
}

.nav{
  grid-area: nav;
  display: grid;
  grid-auto-flow: column;
  background-color: var(--main);
  border-radius: 10px;
  gap: 2px;
  overflow: scroll;
}

.nav::-webkit-scrollbar{
  display: none;
}

.editor-title{
  font-size: 24px;
  font-weight: bold;
  margin: auto auto 40px 0;
  color: var(--text);
}

.items-container>h2{
  font-size: 20px;
  font-weight: bold;
  margin: auto auto 20px 0;
}

.app-title{
  color: var(--text);
}

.edit-title{
  color: var(--text);
}

.items-container>p{
  color: var(--text);
}

.items-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-controls{
  display: flex;
  background-color: var(--main);
  border-radius: 10px;
  justify-items: space-between;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 0;
}

.empty-list-text{
  color: var(--text-light);
}

.list-controls{
  display: flex;
  place-items: space-between;
  place-content: space-between;
  margin: 10px 0;
}


@media (min-width: 700px){

  nav{
    overflow: visible;
  }

  .nav{
    display: flex;
    flex-direction: column;
    place-self: flex-start;
    overflow: auto;
    gap: 5px;
    border-radius: 1000px;
    overflow: visible;
  }

  .logo{
    place-self: center;
  }

  .main-controls{
    top: 20px;
  }
}

@media print {

  .logo, .editor, .main-controls, .nav {
    display: none !important;
  }

  .preview{
    --width: 100dvw;
    box-shadow: none;
  }

  *{
    print-color-adjust: exact;
  }

  /*remove page margins in print mode - might not work in all browsers or get overruled*/
  @page{
    margin: 0;
    size: A4 portrait;
  }
}