#root {
  background-color: var(--main-dark);
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: min-content 4fr 6fr;
  grid-template-rows: repeat(4, min-content);
  grid-template-areas:
  "logo controls preview"
  "nav edit preview"
  "save edit preview"
  "load edit preview";
  padding: 20px;
  gap: 20px;
}
