.color-input{
    opacity: 0;
}

.color-input-label, .color-input{
    cursor: pointer;
}

.color-input-label{
    border-radius: 5px;
    box-shadow: var(--shadow);
}

.color-input-label-text{
    font-size: 16px;
    font-weight: bold;
    color: var(--text);
}

.color-input-label:focus-within{
    outline: auto;
    outline-color: var(--accent);
}