.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--backdrop);
    z-index: 9999;

    display: flex;
    place-items: center;
    place-content: center;
}

.dialog-box{
    background-color: var(--main);
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 30px;
    box-shadow: var(--shadow);
    place-items: stretch;
    width: 80vw;
}

.prompt{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
    color: var(--text);
    font-size: 16px;
}

@media (min-width: 700px){
    .dialog-box{
        padding: 50px;
        width: 400px;
        row-gap: 70px;
        column-gap: 50px;
    }
}