.form-button{
    will-change: filter;
    padding: 5px;
    min-width: 90px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 200ms;
    text-align: center;
}

.form-button:focus{
    outline: auto;
    outline-color: var(--accent);
}

.blue-button{
    background-color: var(--accent);
    color: var(--white);
}

.blue-button:hover{
    filter:  saturate(90%) brightness(150%);
}

.white-button{
    background-color: var(--main);
    color: var(--text);
    border: 1px solid var(--text);
}

.white-button:hover{
    filter:  brightness(90%);
}

.red-button{
    background-color: var(--danger);
    color: var(--white);
}

.red-button:hover{
    filter:  saturate(90%) brightness(150%);
}

.push-left{
    margin: 0 auto 0 0;
}