.form-button{
    will-change: filter;
    padding: 5px 10px;
    min-width: 20%;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 200ms;
    text-align: center;
}

.form-button:focus{
    outline: auto;
    outline-color: var(--accent);
}

.primary{
    background-color: var(--accent);
    color: var(--white);
}

.primary:hover{
    filter:  saturate(90%) brightness(150%);
}

.secondary{
    background-color: var(--main);
    color: var(--text);
    border: 1px solid var(--text);
}

.secondary:hover{
    filter:  brightness(90%);
}

.danger{
    background-color: var(--danger);
    color: var(--white);
}

.danger:hover{
    filter:  saturate(90%) brightness(150%);
}