@font-face {
  font-family: "regular";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "regular";
  src: url("../assets/fonts/Roboto-Regular-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "slab";
  src: url("../assets/fonts/Roboto-Slab.ttf");
}

@font-face {
  font-family: "condensed";
  src: url("../assets/fonts/Roboto-Condensed.ttf");
}

@font-face {
  font-family: "flex";
  src: url("../assets/fonts/Roboto-Flex.ttf");
}

@font-face {
  font-family: "mono";
  src: url("../assets/fonts/Roboto-Mono.ttf");
}

@font-face {
  font-family: "serif";
  src: url("../assets/fonts/Roboto-Serif.ttf");
}

:root {
  font-family: "regular", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --accent: #0078ff;
  --danger: #ff3121;
  --main: #ffffff;
  --main-dark: #ededed;
  --text: #000000;
  --none: #00000000;
  --shadow: 0px 1px 3px rgb(0, 0, 0, 0.1), 0px 6px 12px rgb(0, 0, 0, 0.08);
}

.logo{
  grid-area: logo;
  width: 70px;
}

.main-controls{
  transform: translateZ(0); /*fixes repaint whenever editor title changes*/
  position: sticky;
  top: 20px;
  background-color: var(--main);
  border-radius: 10px;
  grid-area: controls;
  box-shadow: var(--shadow);
  display: flex;
  justify-items: flex-end;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.nav{
  display: flex;
  place-self: flex-start;
  flex-direction: column;
  place-items: stretch;
  place-content: stretch;
  background-color: var(--main);
  border-radius: 10px;
  grid-area: nav;
  width: 70px;
  gap: 1px;
}

.editor{
  display: flex;
  flex-direction: column;
  grid-area: edit;
  background-color: var(--main);
  align-self: flex-start;
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
}

.editor-title{
  font-size: 24px;
  font-weight: bold;
  margin: auto auto 40px 0;
}

.items-container>h2{
  font-size: 20px;
  font-weight: bold;
  margin: auto auto 20px 0;
}

.items-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-controls{
  display: flex;
  background-color: var(--main);
  border-radius: 10px;
  justify-items: flex-end;
  align-items: center;
  gap: 10px;
  margin: 20px 0 0 0;
}

.preview{
  --width: 60vw;
  grid-area: preview;
  width: var(--width);
  height: calc(1.41 * var(--width));
  background-color: var(--main);
  box-shadow: var(--shadow);
}

@media print {
  .logo, .edit-controls, .editor, .main-controls, .nav {
    display: none;
  }

  .preview{
    --width: 100vw;
    box-shadow: none;
  }

  *{
    print-color-adjust: exact;
  }

  /*remove page margins in print mode - might not work in all browsers or get overruled*/
  @page{
    margin: 0;
    size: A4 portrait;
  }
}