@font-face {
  font-family: "regular";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "regular";
  src: url("../assets/fonts/Roboto-Regular-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "slab";
  src: url("../assets/fonts/Roboto-Slab.ttf");
}

@font-face {
  font-family: "condensed";
  src: url("../assets/fonts/Roboto-Condensed.ttf");
}

@font-face {
  font-family: "flex";
  src: url("../assets/fonts/Roboto-Flex.ttf");
}

@font-face {
  font-family: "mono";
  src: url("../assets/fonts/Roboto-Mono.ttf");
}

@font-face {
  font-family: "serif";
  src: url("../assets/fonts/Roboto-Serif.ttf");
}

:root {
  font-family: "regular", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.logo{
  grid-area: logo;
  width: 100px;
  place-self: center;
}

.main-controls{
  transform: translateZ(0); /*fixes repaint whenever editor title changes*/
  z-index: 9900;
  position: sticky;
  top: 10px;
  background-color: var(--main);
  border-radius: 10px;
  grid-area: controls;
  box-shadow: var(--shadow);
  display: flex;
  justify-items: flex-end;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.nav{
  display: grid;
  grid-auto-flow: column;
  background-color: var(--main);
  border-radius: 10px;
  grid-area: nav;
  gap: 1px;
  overflow: scroll;
}

.nav::-webkit-scrollbar{
  display: none;
}

.editor{
  display: flex;
  flex-direction: column;
  grid-area: edit;
  background-color: var(--main);
  align-self: flex-start;
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
}

.editor-title{
  font-size: 24px;
  font-weight: bold;
  margin: auto auto 40px 0;
  color: var(--text);
}

.items-container>h2{
  font-size: 20px;
  font-weight: bold;
  margin: auto auto 20px 0;
}

.items-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-controls{
  display: flex;
  background-color: var(--main);
  border-radius: 10px;
  justify-items: space-between;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 0;
}

.preview{
  --shadow: 0px 1px 3px rgb(0, 0, 0, 0.1), 0px 6px 12px rgb(0, 0, 0, 0.08);
  --main: #ffffff;
  --main-dark: #ededed;
  --text: #000000;
  --text-light: #b0b0b0;
  --width: 90dvw;
  grid-area: preview;
  width: var(--width);
  height: calc(1.41 * var(--width));
  background-color: var(--main);
  box-shadow: var(--shadow);
  place-self: center;
}

.empty-list-text{
  color: var(--text-light);
}

a{
  cursor: pointer;
  color: var(--link);
}

a:visited{
  color: var(--visited);
}

h2{
  color: var(--text);
}

p{
  color: var(--text);
}

body{
  overflow: visible;
}

@media (min-width: 700px) and (orientation: landscape){
  .nav{
    display: flex;
    flex-direction: column;
    place-self: flex-start;
    width: 70px;
    overflow: auto;
  }

  .logo{
    width: 70px;
  }

  .preview{
    --width: 60vw;
  }

  .main-controls{
    top: 20px;
  }
}

@media print {
  .logo, .edit-controls, .editor, .main-controls, .nav {
    display: none;
  }

  .preview{
    --width: 100vw;
    box-shadow: none;
  }

  *{
    print-color-adjust: exact;
  }

  /*remove page margins in print mode - might not work in all browsers or get overruled*/
  @page{
    margin: 0;
    size: A4 portrait;
  }
}