@font-face {
  font-family: "Roboto-regular";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-regular";
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-weight: bold;
}

:root {
  font-family: "Roboto-regular", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --accent: #0078ff;
  --danger: #ff3121;
  --main: #ffffff;
  --main-dark: #ededed;
  --text: #000000;
  --shadow: 0px 1px 3px rgb(0, 0, 0, 0.1), 0px 6px 12px rgb(0, 0, 0, 0.08);
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

.logo{
  grid-area: logo;
  width: 70px;
}

.main-controls{
  transform: translateZ(0); /*fixes repaint whenever editor title changes*/
  position: sticky;
  top: 20px;
  background-color: var(--main);
  border-radius: 10px;
  grid-area: controls;
  box-shadow: var(--shadow);
  display: flex;
  justify-items: flex-end;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.editor{
  grid-area: edit;
  background-color: var(--main);
  align-self: flex-start;
  border-radius: 10px;
  padding: 20px;
}

.editor-title{
  font-size: 24px;
  font-weight: bold;
}