.item-button{
    background-color: var(--none);
    flex-shrink: 0;
}

.item-button, .item-button>img{
    cursor: pointer;
}

.item-button-danger>img{
    filter: brightness(0) saturate(100%) invert(29%) sepia(54%) saturate(5589%) hue-rotate(349deg) brightness(104%) contrast(100%);
}

.item-button>img{
    width: 30px;
}

.item-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--main);
    box-shadow: var(--shadow);
}

.item-menu-button{
    background-color: var(--main);
    font-size: 18px;
    padding: 10px 20px;
}

.item-menu-button:hover{
    cursor: pointer;
    color: var(--main);
    background-color: var(--accent);
}

.item-menu-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--none);
    z-index: 9999;
}