.list-item, .list-item-hidden{
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    padding: 10px;
    gap: 5px;
    transition-duration: 300ms;
}

.list-item{
    background-color: var(--main);
    box-shadow: var(--shadow);
    color: var(--text);
}

.list-item-hidden{
    background-color: var(--main-dark);
}

.item-details{
    display: flex;
    margin: auto auto auto 0;
    min-width: 0;
}

.list-item p, .list-item-hidden p{
    font-size: 16px;
    min-width: 0; /*fix flex child not wrapping*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item p{
    color: var(--text);
}

.list-item-hidden p{
    color: var(--text-light);
}

.item-details-column{
    flex-direction: column;
    gap: 10px;
}

.item-details-row{
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.item-icon{
    width: 50px;
    filter: var(--icon-filter);
}

@media (min-width: 700px) {

    .list-item, .list-item-hidden{
        gap: 5px;
        padding: 10px;
    }

    .item-icon{
        width: 30px;
    }
}