.list-item, .list-item-hidden{
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    padding: 10px;
    gap: 5px;
    transition-duration: 300ms;
}

.list-item{
    background-color: var(--main);
    box-shadow: var(--shadow);
}

.list-item-hidden{
    background-color: var(--main-dark);
}

.item-details{
    display: flex;
    margin: auto auto auto 0;
    flex-grow: 1;
}

.item-details p{
    font-size: 16px;
    min-width: 0; /*fix flex child not wrapping*/
    overflow-wrap: break-word;
}

.item-details-column{
    flex-direction: column;
    gap: 10px;
}

.item-details-row{
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.item-icon{
    width: 50px;
}

.level-bar::-webkit-progress-bar{
    background-color: var(--main-dark);
    border-radius: 10px;
}

.level-bar::-webkit-progress-value{
    background-color: var(--accent);
    border-radius: 10px;
}

.level-bar::-moz-progress-bar{
    background-color: var(--accent);
}

.list-item-hidden .level-bar{
    filter: grayscale(1);
}