.list-item-text, .list-item-text-hidden{
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    padding: 10px;
    gap: 5px;
}

.list-item-text{
    background-color: var(--main);
    box-shadow: var(--shadow);
}

.list-item-text-hidden{
    background-color: var(--main-dark);
}

.item-details{
    display: flex;
    flex-direction: column;
    margin: auto auto auto 0;
}

.item-details>p{
    font-size: 16px;
}