.item-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--main);
    box-shadow: var(--shadow);
}

.item-menu>button:first-child{
    align-self: flex-end;
    justify-self: flex-end;
}

.close-menu{
    align-self: flex-end;
}

.item-menu-button{
    background-color: var(--main);
    font-size: 18px;
    padding: 10px 20px;
    color: var(--text);
}

.item-menu-button:hover{
    cursor: pointer;
    color: var(--white);
    background-color: var(--accent);
}

.item-menu-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--none);
    z-index: 9999;
}