.nav-item{
    will-change: filter, background-color;
    background-color: var(--main);
    display: flex;
    place-items: center;
    place-content: center;
    border-radius: 10px;
    padding: 15px;
    width: 70px;
    height: 70px;
}

.nav-item:focus{
    outline: auto;
    outline-style: solid;
    outline-color: var(--accent);
}

.nav-item:hover{
    filter: brightness(90%);
}

.nav-item, .nav-item>img{
    cursor: pointer;
    transition-duration: 300ms;
}

.nav-item>img{
    filter: var(--icon-filter);
}

.selected{
    background-color: var(--accent);
}

.selected:hover{
    background-color: var(--accent);
}

.selected>img{
    filter: invert(1);
}

@media (min-width: 700px){
    .nav-item{
        width: 3dvw;
        height: 3dvw;
        padding: .5dvw;
        border-radius: 50%;
    }
}