*, *::before, *::after{
    color-scheme: only light;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
    border: none;
    list-style: none;
}

*, *::after, *::before{
    outline: none;
    cursor: default;
    user-select: none;
}

input[type=text]{
    cursor: text;
}

img, picture, svg, video{
    display: block;
    max-width: 100%;
}