.save-container{
    composes: items-container from "./App.module.css";
}

.download-draft-button{
    composes: form-button from "./FormButton.module.css";
    composes: primary from "./FormButton.module.css";
}

.upload-draft-button{
    composes: form-button from "./FormButton.module.css";
    composes: secondary from "./FormButton.module.css";
}

.file-input{
    display: none;
}