.text-input-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: var(--text);
}

.text-input-field{
    background-color: var(--main-dark);
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    color: var(--text);
}

.text-input-field:focus{
    outline: auto;
    outline-color: var(--accent);
}

.text-input-label{
    font-size: 16px;
    font-weight: bold;
}

.clear-button{
    will-change: filter;
    position: absolute;
    right: 2%;
    top: 50%;
    background-color: var(--text-light);
    padding: 2px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.clear-button>img{
    filter: var(--icon-filter);
}

.clear-button, .clear-button>img{
    cursor: pointer;
}

.clear-button:hover{
    filter: brightness(80%);
}

.clear-button:focus{
    outline: auto;
    outline-color: var(--accent);
}