.toggle-all-button{
    display: flex;
    place-items: center;
    place-content: center;
    background-color: var(--main-dark);
    padding: 10px;
    width: 50px;
    cursor: pointer;
}

.toggle-all-button>img{
    cursor: inherit;
    filter: var(--icon-filter);
}

.toggle-all-button-danger>img{
    filter: var(--icon-filter-danger);
}

@media (min-width: 700px) {
    .toggle-all-button{
        width: 40px;
        padding: 5px;
    }
}