.layout-01{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: 
    "header header"
    "education education"
    "experience experience"
    "skills languages";
}

.layout-01 .header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
    "name"
    "profession"
    "details";
    place-items: center;
    padding: 2vw;
    gap: .5vw;
}

.layout-01 .name{
    grid-area: name;
    font-size: 3vw;
}

.layout-01 .profession{
    grid-area: profession;
    font-size: 2vw;
}

.layout-01 .header-item-container{
    grid-area: details;
    display: flex;
    place-items: center;
    place-content: center;
    gap: 1vw;
    flex-wrap: wrap;
}

.layout-01 .header-item{
    display: flex;
    place-items: center;
    gap: .5vw;
}

.layout-01 .header-icon{
    width: 2vw;
    will-change: filter;
}

.layout-01 .header-icon-bright{
    filter: invert(1) ;
}

.layout-01 .header-item-text{
    font-size: 1vw;
}

.layout-01 .section-title{
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    padding: .5vw;
}

.layout-01 .section{
    padding: 1vw;
    display: flex;
    flex-direction: column;
}

.layout-01 .education{
    grid-area: education;
}

.layout-01 .experience{
    grid-area: experience;
}

.layout-01 .skills{
    grid-area: skills;
}

.layout-01 .languages{
    grid-area: languages;
}

.layout-01 .section>li:nth-child(odd){
    background-color: var(--main-dark);
}

.layout-01 .section>li{
    display: grid;
    grid-template-rows: min-content;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: .2vw .5vw;
}

.layout-01 .vertical-container{
    display: flex;
    flex-direction: column;
}

.layout-01 .horizontal-cotnainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.layout-01 .section p{
    font-size: 1vw;
    text-align: left;
}

.layout-01 .bar-container{
    display: flex;
    place-content: flex-start;
    place-content: flex-start;
    border: 1px solid var(--text);
    width: 10vw;
    height: .7vw;
    border-radius: .7vw;
}

.bar{
    border-radius: .7vw;
}