.layout-01{
    --black: #000000;
    --white: #ffffff;
    --grey: #dedede;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    width: var(--width);
    background-color: var(--white);
    gap: calc(var(--width) * .02);
    justify-items: stretch;
}

.layout-01 .header-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    grid-column-start: 1;
    grid-column-end: -1;
    gap: calc(var(--width) * .01);
    padding: calc(var(--width) * .02);
}

.layout-01 .name{
    text-align: center;
    font-size: calc(var(--width) * 0.06);
    max-width: var(--width * .9);
    word-wrap: break-word;
    text-wrap: wrap;
}

.layout-01 .profession{
    text-align: center;
    font-size: calc(var(--width) * .04);
    max-width: var(--width * .9);
    word-wrap: break-word;
    text-wrap: wrap;
}

.layout-01 .header-items-wrapper{
    display: flex;
    max-width: calc(var(--width) * .9);
    place-items: center;
    place-content: center;
    flex-wrap: wrap;
    gap: calc(var(--width) * .005);
}

.layout-01 .header-item{
    display: flex;
    max-width: calc(var(--width) * .9);
    place-items: center;
    gap: calc(var(--width) * .005);
    margin-right: calc(var(--width) * .015);
}

.layout-01 .header-item-text{
    font-size: calc(var(--width) * .02);
    max-width: calc(var(--width) * .8);
    word-wrap: break-word;
    text-wrap: wrap;
}

.layout-01 .header-item-icon{
    width: calc(var(--width) * .03);
}

.layout-01 .section-wrapper{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: calc(var(--width) * .005);
    margin: 0 calc(var(--width) * .02);
}

.layout-01 .wide{
    grid-column-start: 1;
    grid-column-end: -1;
}

.layout-01 .section-title{
    text-align: center;
    place-self: stretch;
    font-size: calc(var(--width) * .03);
    padding: calc(var(--width) * .005);
}

.layout-01 .section-text{
    font-size: calc(var(--width) * .017);
}

.layout-01 .section-item{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: calc(var(--width) * .005) 0;
    gap: calc(var(--width) * .005);
    place-self: stretch;
    text-align: center;
    place-items: center;
}

.layout-01 .section-item:nth-child(odd){
    background-color: var(--grey);
}

.layout-01 .bottom-wrapper{
    display: grid;
    grid-auto-flow: column;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-auto-columns: 1fr;
}

.layout-01 .level-container{
    position: relative;
    display: flex;
    border-radius: calc(var(--width) * 0.005);
    height: calc(var(--width) * 0.01);
    border: solid calc(var(--width) * 0.001) var(--black);
    width: calc(var(--width) * .1);
}

.layout-01 .level{
    border-radius: calc(var(--width) * 0.005);
}

.layout-01 .flow-item{
    display: flex;
    place-items: center;
    gap: calc(var(--width) * .005);
    padding: calc(var(--width) * .005) calc(var(--width) * .02);
}

.layout-01 .flow-item:nth-child(even){
    background-color: var(--grey);
    border-radius: calc(var(--width) * .02);
}

.layout-01 .flow-wrapper{
    display: flex;
    width: 100%;
    gap: calc(var(--width) * .01);
    flex-wrap: wrap;
    place-items: center;
    place-content: center;
}

/* .layout-01{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: 
    "header header"
    "education education"
    "experience experience"
    "skills languages";
}

.layout-01 .header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
    "name"
    "profession"
    "details";
    place-items: center;
    padding: calc(var(--width) * .03);
    gap: calc(var(--width) * .01);
}

.layout-01 .name{
    grid-area: name;
    font-size: calc(var(--width) * .06);
}

.layout-01 .profession{
    grid-area: profession;
    font-size: calc(var(--width) * .04);
}

.layout-01 .header-item-container{
    grid-area: details;
    display: flex;
    place-items: center;
    place-content: center;
    gap: calc(var(--width) * .02);
    flex-wrap: wrap;
}

.layout-01 .header-item{
    display: flex;
    place-items: center;
    gap: calc(var(--width) * .01);
}

.layout-01 .header-icon{
    width: calc(var(--width) * .03);
    will-change: filter;
}

.layout-01 .header-icon-bright{
    filter: invert(1) ;
}

.layout-01 .header-item-text{
    font-size: calc(var(--width) * .02);
}

.layout-01 .section-title{
    font-size: calc(var(--width) * .025);
    font-weight: bold;
    text-align: center;
    padding: calc(var(--width) * .01);
}

.layout-01 .section{
    padding: calc(var(--width) * .03);
    display: flex;
    flex-direction: column;
}

.layout-01 .education{
    grid-area: education;
}

.layout-01 .experience{
    grid-area: experience;
}

.layout-01 .skills{
    grid-area: skills;
}

.layout-01 .languages{
    grid-area: languages;
}

.layout-01 .section>li:nth-child(odd){
    background-color: var(--main-dark);
}

.layout-01 .section>li{
    display: grid;
    grid-template-rows: min-content;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: calc(var(--width) * .005) calc(var(--width) * .02);
}

.layout-01 .vertical-container{
    display: flex;
    flex-direction: column;
}

.layout-01 .horizontal-cotnainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.layout-01 .section p{
    font-size: calc(var(--width) * .017);
    text-align: left;
}

.layout-01 .bar-container{
    display: flex;
    place-content: flex-start;
    place-content: flex-start;
    border: calc(var(--width) * .001) solid var(--text);
    width: calc(var(--width) * .15);
    height: calc(var(--width) * .012);
    border-radius: calc(var(--width) * .012);
}

.layout-01 .bar{
    border-radius: calc(var(--width) * .012);
    border-right: calc(var(--width) * .001) solid var(--text);
} */