.layout-02{
    --white: white;
    --black: black;
    --grey: #dedede;
    --light-grey: #eeeeee;
    --dark-grey: #8b8b8b;
    transform: translateZ(0);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 1fr;
    height: 100%;
    width: 100%;
}

.left{
    display: flex;
    flex-direction: column;
    background-color: var(--light-grey);
    width: calc(var(--width) * 1 / 3);
    gap: calc(var(--width) * .02);
}

.right{
    display: flex;
    flex-direction: column;
    width: calc(var(--width) * 2 / 3);
    gap: calc(var(--width) * .02);
    padding: calc(var(--width) * .02);
}

.header-wrapper{
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-bottom: calc(var(--width) * 1 / 6);
    padding-top: calc(var(--width) * .03);
    border-bottom-left-radius: calc(var(--width) * 1 / 6);
    border-bottom-right-radius: calc(var(--width) * 1 / 6);
    gap: calc(var(--width) * .01);
    width: calc(var(--width) * 1 / 3);
    flex-wrap: wrap;
    text-wrap: wrap;
}

.name{
    text-align: center;
    word-wrap: break-word;
    font-weight: bold;
    width: calc(var(--width) * 1 / 4);
    font-size: calc(var(--width) * .05);
}

.profession{
    text-align: center;
    word-wrap: break-word;
    width: calc(var(--width) * 1 / 4);
    font-size: calc(var(--width) * .04);
}

.seperator{
    width: 90%;
    height: calc(var(--width) * .02);
    margin-bottom: calc(var(--width) * .02);
    border-bottom: solid calc(var(--width) * .002) var(--black);
}

.header-item{
    display: flex;
    align-items: center;
    justify-items: flex-start;
    width: calc(var(--width) * 1 / 4);

}

.header-item-icon{
    width: calc(var(--width) * .03);
    margin-right:  calc(var(--width) * .01);
}

.header-item-text{
    font-size:  calc(var(--width) * .017);
    max-width: calc(var(--width) * 1 / 4.5);
    word-wrap: break-word;
}

.section-wrapper{
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
}

.section-title{
    display: flex;
    place-items: center;
    font-size: calc(var(--width) * .03);
    gap: calc(var(--width) * .017);
}

.section-icon{
    width: calc(var(--width) * .06);
    padding: calc(var(--width) * .007);
}

.section-icon-wrapper{
    border-radius: 50%;
}

.bold{
    font-weight: bold;
}

.flow-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    place-items: center;
    place-content: center;
    gap: calc(var(--width) * .01);
}

.flow-item{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: calc(var(--width) * .002);
    margin-right: calc(var(--width) * .01);
    max-width: 100%;
}

.level-container{
    background-color: var(--white);
    display: flex;
    border-top-right-radius: calc(var(--width) * 0.005);
    border-bottom-right-radius: calc(var(--width) * 0.005);
    height: calc(var(--width) * 0.01);
    border: solid calc(var(--width) * 0.001) var(--black);
    width: calc(var(--width) * .1);
}

.level{
    border-top-right-radius: calc(var(--width) * 0.005);
    border-bottom-right-radius: calc(var(--width) * 0.005);
}

.section-text{
    word-wrap: break-word;
    max-width: calc(var(--width) * 1 / 4);
    text-align: center;
    font-size: calc(var(--width) * .017);
}

.level-text{
    color: var(--dark-grey) !important;
}

.section-item{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    width: 100%;
    place-items: center;
    padding: calc(var(--width) * .01) 0;
}

.section-item:nth-child(even){
    background-color: var(--grey);
}