.layout-02{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 1fr;
    grid-template-areas: 
    "header body";
}

.layout-02 .header{
    display: flex;
    flex-direction: column;
    padding: 0 calc(var(--width) * .05);
    background-color: var(--main-dark);
    grid-area: header;
    gap: calc(var(--width) * .02);
}

.layout-02 .header-top{
    display: flex;
    flex-direction: column;
    place-items: center;
    border-bottom-left-radius: calc(var(--width) * 1 / 6);
    border-bottom-right-radius: calc(var(--width) * 1 / 6);
    padding: calc(var(--width) * .05);
    padding-bottom: calc(var(--width) * 1 / 6);
    margin: 0 calc(var(--width) * -.05);
}

.layout-02 .name{
    font-weight: bold;
    font-size: calc(var(--width) * .05);
    text-align: center;
}

.layout-02 .profession{
    font-size: calc(var(--width) * .03);
    text-align: center;
}

.layout-02 .section-title-container{
    display: flex;
    place-items: center;
    place-content: center;
    gap: calc(var(--width) * .01);
    border-bottom: calc(var(--width) * .001) solid;
    padding-bottom: calc(var(--width) * .02);
}

.layout-02 .section-title-icon{
    width: calc(var(--width) * .04);
    will-change: filter;
}

.layout-02 .section-title-icon-bright{
    filter: invert(1);
}

.layout-02 .section-title-icon-bg{
    border-radius: calc(var(--width) * .05);
    padding: calc(var(--width) * .01);
}

.layout-02 .section-title{
    font-size: calc(var(--width) * .03);
    color: var(--text);
}

.layout-02 .header-item-container{
    display: flex;
    flex-direction: column;
    gap: calc(var(--width) * .01);
    flex-wrap: wrap;
    margin-top: calc(var(--width) * .025);
    padding-top: calc(var(--width) * .025);
    border-top: calc(var(--width) * .001) solid;
}

.layout-02 .header-item{
    display: flex;
    place-items: center;
    gap: calc(var(--width) * .01);
}

.layout-02 .header-icon{
    width: calc(var(--width) * .03);
    will-change: filter;
}

.layout-02 .header-icon-bright{
    filter: invert(1) ;
}

.layout-02 .header-item-text{
    width: calc(var(--width) * 1 / 5);
    overflow-wrap: break-word;
    font-size: calc(var(--width) * .017);
}

.layout-02 .bar-container{
    display: flex;
    place-content: flex-start;
    place-content: flex-start;
    border: calc(var(--width) * .001) solid var(--text);
    width: calc(var(--width) * .1);
    height: calc(var(--width) * .008);
    border-radius: calc(var(--width) * .012);
}

.layout-02 .bar{
    border-radius: calc(var(--width) * .012);
    border-right: calc(var(--width) * .001) solid var(--text);
}

.layout-02 .language-section-container{
    display: flex;
    flex-direction: column;
    gap: calc(var(--width) * .01);
}

.layout-02 .language-item-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(var(--width) * .25);
}

.layout-02 .section-item-text{
    font-size: calc(var(--width) * .015);
    min-width: 0;
    overflow-wrap: break-word;
}

.layout-02 .language-item-text{
    font-size: calc(var(--width) * .015);
    min-width: 0;
    max-width: calc(var(--width) * .1);
    overflow-wrap: break-word;
}

.layout-02 .body{
    grid-area: body;
    display: flex;
    flex-direction: column;
    padding: calc(var(--width) * .03);
    gap: calc(var(--width) * .02) ;
}

.layout-02 .section-item-cell{
    display: flex;
    flex-direction: column;
    gap: calc(var(--width) * .005);
}

.layout-02 .section-item-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: calc(var(--width) * .005) 0;
}

.layout-02 .section-item-container:nth-child(even){
    background-color: var(--main-dark);
}

.layout-02 .section-container{
    margin-bottom: calc(var(--width) * .03);
    display: flex;
    flex-direction: column;
}

.layout-02 .skills-items-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--width) * .03);
}